<form novalidate [formGroup]="myEditForm">
    <p>Edit User</p>
    <div class="form-group" *ngIf="loaded">
        <div class="form-group">
            <label>User Id</label>
            <input type="text" formControlName="id" readonly="readonly">
            
        </div>


        <div class="form-group">
            <label>First Name</label>
            <input type="text" formControlName="first_name" />
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input type="text" formControlName="last_name" />
        </div>

        <div class="form-group">
            <label>Avatar</label>
            <a href="#">
                    <input type="text" formControlName="avatar" readonly="readonly">
                 </a>
        </div>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary" (click)="SaveMe()">Save Me</button>

    </div>
</form>