<div class="row">
    <div class="col-sm-12">

        <app-card [title]="'Sample Header'" [headerContent]="''" [cardOptionBlock]="true">
            <div class="row">
                <div class="col-sm-12 col-xl-4 m-b-30">
                    <h4 class="sub-title">Date</h4>

                    <input class="form-control" type="date" />
                </div>
                <div class="col-sm-12 col-xl-4 m-b-30">
                    <h4 class="sub-title">Month</h4>

                    <input class="form-control" type="month" />
                </div>
                <div class="col-sm-12 col-xl-4 m-b-30">
                    <h4 class="sub-title">Week</h4>

                    <input class="form-control" type="week" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xl-4 m-b-30">
                    <h4 class="sub-title">Date-time-local</h4>

                    <input class="form-control" type="datetime-local" />
                </div>
                <div class="col-sm-12 col-xl-4">
                    <h4 class="sub-title">Time</h4>

                    <input class="form-control" type="time" />
                </div>
            </div>
        </app-card>
    </div>
</div>