<h2 mat-dialog-title> {{data.title}}</h2>
<mat-dialog-content>
  <h3>DEVELOP ACROSS ALL PLATFORMS</h3>
  <p>Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target.
    For web, mobile web, native mobile and native desktop.</p>
  <!-- <input type="text" [(ngModel)]="data.user"> -->
  <mat-form-field>
    <input matInput [(ngModel)]="data.user">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Install</button>
</mat-dialog-actions>