<div class="row">
  <div class="col-md-12">
    <div class="card card-outline-info">
      <div class="card-header">
        <h4 class="m-b-0 text-white">Employment Profile</h4>
      </div>
      <div class="card-body" *ngIf="employeeCard">
        <h3 class="card-title">{{employeeCard.employeeName}}</h3>

        <div class="row">
          <div class="col b-r">
            <span class="text-muted">Home Department</span>
            <h6>{{employeeCard.department}}</h6>
          </div>
          <div class="col b-r">
            <span class="text-muted">Tax ID (SSN)</span>
            <h6>{{employeeCard.ssn}}</h6>
          </div>
          <div class="col b-r">
            <span class="text-muted">Position ID</span>
            <h6>{{employeeCard.positionID}}</h6>
          </div>
          <div class="col b-r">
            <span class="text-muted">Hire Date</span>
            <h6>{{employeeCard.hireDate}}</h6>
          </div>
          <div class="col">
            <span class="text-muted">Status</span>
            <h6>{{employeeCard.employeeStatus}}</h6>
          </div>
          <div class="col">
            <span class="text-muted">Employee</span>
            <h6>
              <select [(ngModel)]="selectedEmployee" (change)="onChange($event.target.value)" id="ddlEmployees" class="form-control input-sm f-12 v-bottom">
                <option *ngFor="let emp of employees" value={{emp.personID}}>
                  {{emp.employeeName}}
                </option>
              </select>
            </h6>
          </div>
          <div class="col p-t-20 text-right">
            <span class="text-muted" style="width: 100px">&nbsp;</span>
            <a (click)="onChange(previousIndex)">
              <i class="fa fa-chevron-left f-22 p-r-5"></i>
            </a>
            {{currentIndex + 1}} of {{employees.length}}
            <a (click)="onChange(nextIndex)">
              <i class="fa fa-chevron-right f-22 p-r-5"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card">

      <div class="card-body">

      </div>
    </div>
  </div>
</div>