
<div class="container" >
    <div class="card-deck mb-3 text-center" >
      <div class="card mb-4 box-shadow" *ngFor="let usr of userlist">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{usr.first_name}}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">{{usr.last_name}}</h1>
          <a href="#" class="btn btn-lg btn-block btn-outline-primary"><img src="{{usr.avatar}}"> </a>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary" 
          (click)='GetDetails(usr)'>Click Me</button>
        </div>
      </div>
    </div>

<!-- <div class="row">
<div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Light card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div> -->