<h1>Sign Up</h1>
<form [formGroup]="userForm">
  <div class="form-row">
    <div class="form-group col-md-6" [ngClass]="displayFieldCss('email')">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email" formControlName="email" >
      <app-field-error-display  [displayError]="isFieldValid('email')"  errorMsg="Please inform your email">
    </app-field-error-display>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password" formControlName="" formControlName="password">
      <app-field-error-display  [displayError]="isFieldValid('password')"  errorMsg="Please inform your password">
      </app-field-error-display>
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="" formControlName="address">
    <app-field-error-display  [displayError]="isFieldValid('address')"  errorMsg="Please inform your address">
    </app-field-error-display>
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="" formControlName="address2">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity" FormControlName="city">
      <app-field-error-display  [displayError]="isFieldValid('city')"  errorMsg="Please inform your city">
      </app-field-error-display>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control" FormControlName="state" >
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip" FormControlName="zip">
      <app-field-error-display  [displayError]="isFieldValid('zip')"  errorMsg="Please inform your zip">
      </app-field-error-display>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck" FormControlName="Check">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" (click)="onSubmit()">Sign in</button>
</form>